// my-template.jade
extends ../layout

//Bloque de contenido.
block content
	.container
		.form_container
			form(method='post', id="stores_register", action='/stores/add')
				label Nombre
				br
				input(name='store[name]', type='text' ,class="required") 
				br
				label Email
				br
				input(name='store[email]', type='text' ,class="required") 
				br
				label Sobre Mí
				br
				input(name='store[about]', type='text' ,class="required") 
				br
				input(type='submit', value='Save')