script(type='text/javascript', src='/js/jquery.js')
script(type='text/javascript', src='/js/underscore-min.js')
script(type='text/javascript', src='/js/backbone.js')
script(type='text/javascript', src='/socket.io/socket.io.js')
script(type='text/javascript', src='/js/md5-min.js')
script(type='text/javascript', src='/js/conversations_front.js')
link(rel='stylesheet', href='/css/conversation_thin.css')
link(rel='stylesheet', href='/css/bootstrap.css')
script(rel='text/javascript', src='/js/bootstrap.min.js')
script
	$(document).ready(function(){
		$('#conversations_container').hide();
		$('#chat_container').hide();
		$('.chats_btn').click(function(){
			$('#conversations_container').hide();
			$('#contacts_container').hide();
			$('#chat_container').show();
		});
		$('.conversations_btn').click(function(){
			$('#conversations_container').show();
			$('#contacts_container').hide();
			$('#chat_container').hide();
		});
		$('.contacts_btn').click(function(){
			$('#conversations_container').hide();
			$('#contacts_container').show();
			$('#chat_container').hide();
		});

		});



div( class='contenedor' , id='#{user_id}' )
	.user_profile
		h4 #{user.username}
	h3#close_conversations.btn.btn-inverse X
	#menu
		.btn-group
			//a(href='#').btn.chats_btn.btn-inverse Chats
			a(href='#').btn.conversations_btn.btn-inverse Conversaciones 
			a(href='#').btn.contacts_btn.btn-inverse Contactos
	.contenedor_chat
		#chat_container
			p.header Conversacion actual
			.columna.log
			textarea(type='text', class='message', placeholder='Escribe un mensaje y presiona Enter')
		#conversations_container
			p.header Conversaciones
			#conversations.columna
		#contacts_container
			p.header Contactos
			#contacts.columna
			
		