// my-template.jade
extends ../layout

//Bloques de contenido.

block profile
	.thumbnail
		img(src="/images/mr_bean.jpg")
	.data
		p #{user.username}

		
block feed
	.feed.well.well-small
		.thumbnail
			img(src="/images/mr_bean.jpg")
		.feed-text
			p El usuario carlitos ha aceptado tu invitacion a ser promotor.

block content
	-if(empty) 
		p No se han encontrado promotores
	-else
		-each promoter in users
			p  #{promoter.username}	



block logo
	p Html del logo y boton de novedades.

	
	