// my-template.jade
extends ../layout

//Bloque de contenido.
block content
	.container
		.span6
			h3 Crear Franquicia
			br
			form(method='post', id="franchises_create",action='/franchises/add').form-horizontal
				.control-group
					label.control-label Nombre
					input(name='franchise[name]', type='text' ,class="required").control
					hr
				.control-group
					label.control-label Slug
					input(name='franchise[slug]', type='text',class="required").control
					hr
				.control-group
					label.control-label Default
					select(name='franchise[is_default]', type='text',class="required").control
						option(val=0) No  
						option(val=1) Si
					hr
				.control-group
					label.control-label Zona Horaria
					input(name='franchise[timezone]', type='text',class="required").control
				.control-group
					input(type='submit', value='Save').control.btn