// my-template.jade
extends ../layout

//Bloque de contenido.
block content
	.container
		.form_container
			form(method='post', action='/franchises/add')
				label Name
				br
				input(name='franchise[name]', type='text') 
				br
				label slug
				br
				input(name='franchise[slug]', type='text') 
				br
				label is_default
				br
				input(name='franchise[is_default]', type='text') 
				br
				label timezone
				br
				input(name='franchise[timezone]', type='text')
				input(type='submit', value='Save')