// my-template.jade
extends ../layout

//Bloque de contenido.
block content
	.container
		.span6
			h3 Editar Franquicia
			br
			form(method='post', action='/franchises/add').form-horizontal
				.control-group
					label.control-label Name
					input(name='franchise[name]', type='text', val="#{franchise.name}").control
					br
				.control-group
					label.control-label slug
					input(name='franchise[slug]', type='text', val="#{franchise.slug}").control
					br
				.control-group
					label.control-label is_default
					select(name='franchise[is_default]', type='text').control
						option(val=0) no  
						option(val=1) si
					br
				.control-group
					label.control-label timezone
					input(name='franchise[timezone]', type='text', val="#{franchise.timezone}").control
				.control-group
					input(type='submit', value='Save').control.btn