!!! 5
html
	head
		title Giombu
		script(rel='text/javascript', src='/js/jquery.js')
		script(rel='text/javascript', src='/js/scripts.js')
		script(rel='text/javascript', src='/js/bootstrap.min.js')
		script(rel='text/javascript', src='/js/bootstrap-datepicker.js')
		script(rel='text/javascript', src='/js/bootstrap-timepicker.js')
		script(rel='text/javascript', src='/js/jquery.form.js')
		script(rel='text/javascript', src='/js/jquery.color.js')
		script(rel='text/javascript', src='/js/jquery.Jcrop.min.js')
		script(rel='text/javascript', src='/js/crop.js')



		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/datepicker.css')
		link(rel='stylesheet', href='/css/timepicker.css')
		link(rel='stylesheet', href='/css/jquery.Jcrop.css')
		link(rel='stylesheet', href='/css/jquery.Jcrop.css')
		
	body
		#body_container
			#header

			#container
				h3 Hey you! yes you! You're not logged IN!
				br 
				br 
				a(href="/").btn LogIn

			#footer
				p
				| Comercializadora Giombu, S.A. de C.V -
				| San Juan de los Lagos No. 21 -
				| Vallarta Poniente -
				| Guadalajara, Jalisco, México (44110)