!!! 5
html
	head
		title Giombu
		script(rel='text/javascript', src='/js/jquery.js')
		script(rel='text/javascript', src='/js/scripts.js')
		script(rel='text/javascript', src='/js/bootstrap.min.js')
		script(rel='text/javascript', src='/js/bootstrap-datepicker.js')
		script(rel='text/javascript', src='/js/bootstrap-timepicker.js')
		script(rel='text/javascript', src='/js/jquery.form.js')
		script(rel='text/javascript', src='/js/jquery.color.js')
		script(rel='text/javascript', src='/js/jquery.Jcrop.min.js')
		script(rel='text/javascript', src='/js/carousel-init.js')
		script(rel='text/javascript', src='http://1ac412e778940310e473-4206a4ff9dc2abdfb7eb3b15235b5ed7.r79.cf1.rackcdn.com/jquery.countdown.min.js')
		script(rel='text/javascript', src='/js/jquery.countdown.js')
		script(rel='text/javascript', src='/js/countdown.js')


		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/datepicker.css')
		link(rel='stylesheet', href='/css/timepicker.css')
		link(rel='stylesheet', href='/css/jquery.Jcrop.css')
		link(rel='stylesheet', href='http://4241900828856138fa84-985102046226e0e51b2f76831e259960.r72.cf1.rackcdn.com/jquery.countdown.css')
		link(rel='stylesheet', href='/css/deals.css')
		link(rel='stylesheet', href='/css/jquery.countdown.css')

	body
		block content