!!! 5
html
	head
		title Giombu
		script(rel='text/javascript', src='/js/jquery.js')
		script(rel='text/javascript', src='/js/scripts.js')
		script(rel='text/javascript', src='/js/bootstrap.min.js')
		script(rel='text/javascript', src='/js/bootstrap-datepicker.js')
		script(rel='text/javascript', src='/js/bootstrap-timepicker.js')
		script(rel='text/javascript', src='/js/jquery.form.js')
		script(rel='text/javascript', src='/js/jquery.color.js')
		script(rel='text/javascript', src='/js/jquery.Jcrop.min.js')
		script(rel='text/javascript', src='/js/crop.js')



		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/datepicker.css')
		link(rel='stylesheet', href='/css/timepicker.css')
		link(rel='stylesheet', href='/css/jquery.Jcrop.css')
		link(rel='stylesheet', href='/css/jquery.Jcrop.css')
		
	body
		#body_container
			#header
				#navbar
					.navbar		
						.navbar-inner
							a(class="brand", href="#") 
								img(src="http://83b0c28c61b2c8602f7c-5408f05fecb415ed1f9fde302a13d016.r42.cf1.rackcdn.com/logo_giombu_intranet.png", alt="Giombu")
							.nav
								.dropdown
									a(id="dropProfile pull-right" , href="#", class="btn dropdown-toggle" , data-toggle="dropdown") Perfil
										span.caret
									ul(class="dropdown-menu", aria-labelledby="dropProfile")
										li 
											a(a tabindex="-1", href="#") Mi perfil
										li	
											a(a tabindex="-1", href="#") Mi Cuenta
										li 
											a(a tabindex="-1", href="#") Mi Foto
										li 
											a(a tabindex="-1", href="#") Mi Perfil de Promotor
										li 
											a(a tabindex="-1", href="#") Mi Datos Bancarios
										li 
											a(a tabindex="-1", href="#") Salir
				
			#container
				#left
					#profile
						.thumbnail
							img(src="/images/mr_bean.jpg")
						.data
							-if (!(typeof user === "undefined"))
								p #{user.username} #{user.partner}
					ul(class="nav nav-list")
						li.nav-header Ofertas
						li 
							a Ver Activas
						li	
							a Ver Próximas

						li.nav-header Menu
						li 
							a(href='h1') Noticias
						li	
							a(href='h1') Mensajes
						li	
							a OPCION 2
						-if (!(typeof user.promoter[0] === "undefined"))
							li.nav-header Promotores
							li 
								a(href='/intranet/promoters/list_sons') Listado
							li	
								a(href='h1') Invitaciones
							li	
								a(href='h1') Mis Bonos
						-if (!(typeof user.partner[0] === "undefined"))
							li.nav-header Socios
							li 
								a(href='h1') Mi Tienda
							li	
								a(href='h1') Mis Comisiones
						-if (!(typeof user.seller[0] === "undefined"))
							li.nav-header Vendedores
							li 
								a(href='h1') Ventas
							li	
								a(href='h1') Comisiones
						
						li.nav-header Contactos
						li 
							a(href='h1') Listado
						li	
							a(href='h1') Invitaciones

						li.nav-header Administración
						li 
							a(href='h1') Estadísticas
						li	
							a(href='h1') Ventas
						li 
							a(href='h1') Pagos
						li	
							a(href='/intranet/deals/admin') Ofertas
						li 
							a(href='h1') Productos
						li	
							a(href='h1') Paises
						li 
							a(href='h1') Franquiciantes
						li	
							a(href='/intranet/franchises/admin') Franquicias
						li 
							a(href='h1') Comercios
						li	
							a(href='h1') Vendedores
						li	
							a(href='h1') Monedas
							
						li.nav-header Email Marketing
						li 
							a(href='h1') Suscriptores
						li	
							a(href='h1') Newsletters
						li 
							a(href='h1') Lista de Mails
				#center
					block content
				#right
					block feed
					#level
						.alert
							.alert-heading
								h4 Tu nivel
								p Te faltan 99 contactos para logar el bono del 20%</p>
								.progress.progress-success.progress-striped.active
									.bar(style="width:60%")
								p Tienes el nivel granito, Invita a  más para obtener le nivel.
			#footer
				p
				| Comercializadora Giombu, S.A. de C.V -
				| San Juan de los Lagos No. 21 -
				| Vallarta Poniente -
				| Guadalajara, Jalisco, México (44110)