!!! 5
html
	head
		title Giombu
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#body_container
			#header
				#profile
					block profile
			#container
				#left
					block menu
				#center 
					block feed
					block content
				#right
					block level
			#footer
				| Comercializadora Giombu, S.A. de C.V -
				| San Juan de los Lagos No. 21 -
				| Vallarta Poniente -
				| Guadalajara, Jalisco, México (44110)