body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-image: url("/img/bg_layout.jpg");
	background-repeat: no-repeat;
	text-align: center;
}

a {
  color: #00B7FF;
}

#body_container{
	width:1000px;
	margin:0 auto;
}

#left, #center, #right{
	float:left;
	width:200px;
}

#center {
	width:900px;
}

.feed {
	border:1px solid black;
	background-color: gray;
}

.table_list{
	text-align: left;
}
.deal_container{
	width: 250px;
	height: 150px;
	margin: 10px;
	padding: 10px;
	border: solid 1px gray;
	text-align: left;
	float: left;
}

.left_menu{
	width: 100px;
	height: 800px;
	margin: 10px;
	padding: 10px;
	border: solid 1px gray;
	text-align: left;
	float: left;
}

.main_deal{

	width: 540px;
	height: 300px;
	margin: 10px;
	padding: 10px;
	border: solid 1px gray;
	text-align: left;
	float: left;

}