// my-template.jade
extends ../layout

//Bloque de contenido.
block content
	div( class='contenedor')
		div( class='container_form')
			form(method='post', action='/sellers/add/')
				p Activar mi cuenta de promotor
				input(name='submit', type='submit') 
				br