// my-template.jade
extends ../layout

//Bloque de contenido.
block content
	.form_container
		form(method='post',id="franchisors_create" , action='/franchisors/add')
			label Nombre
			hr
			input(name='franchisor[name]', type='text' ,class="required") 
			hr
			label Dominio 
			hr
			input(name='franchisor[default_domain]', type='text' ,class="required") 
			hr
			label Dominio Seguro
			hr
			input(name='franchisor[secure_domain]', type='text' ,class="required") 
			hr
			label CCTDL 
			hr
			input(name='franchisor[cctdl]', type='text' ,class="required") 
			hr
			label Email
			hr
			input(name='franchisor[email]', type='text' ,class="required") 
			hr
			label Smtp
			hr
			input(name='franchisor[smtp]', type='text' ,class="required") 
			hr
			label Zona Horaria
			hr
			input(name='franchisor[default_timezone]', type='text' ,class="required") 
			hr
			label Idioma
			hr
			input(name='franchisor[language]', type='text') 
			hr
			label Fan Page
			hr
			input(name='franchisor[fanpage]', type='text')  
			hr
			hr
			input(type='submit', value='Save')