// my-template.jade
extends ../layout


//Bloque de contenido.
block content
	.contenedor
		h3 Cargar oferta
		.span5
			form(method='post', action='/countries/add').form-horizontal
				.control-group
					label.control-label Titulo
					input(name='country[name]', type='text' ,class="required").control
				br
				.control-group
					input(name='submit', type='submit', value="Crear").btn.control
					br
				