extends ../layout

block content
	table.table
		-each currency in currencies
			tr
				td
					h4 #{currency.name}
				td
					p #{currency.default_domain}
				td.span1
					a(href="/currencys/view/#{currency._id}").btn.pull-right Ver
				td.span1
					a(href="/currencys/edit/#{currency._id}", rel="tooltip", title="Editar").btn.btn-primary.pull-right 
						i.icon-pencil