// my-template.jade
extends ../layout

//Bloque de contenido.
block content
	.contenedor
		.container_form
			form(method='post', action='/deals/add')
				label Titulo
				input(name='deal[title]', type='text') 
				br
				label Tagline
				input(name='deal[tagline]', type='text') 
				br
				label Slug
				input(name='deal[slug]', type='text') 
				br
				label Características
				input(name='deal[characteristics]', type='text') 
				br
				label Condiciones
				input(name='deal[conditions]', type='text') 
				br
				label Precio
				input(name='deal[price]', type='text') 
				br
				label Descuento
				input(name='deal[discount]', type='text')
				br 
				label Precio especial
				input(name='deal[special_price]', type='text') 
				br
				label Fecha de comienzo
				input(name='deal[start_date]', type='date') 
				br
				label Fecha de fin
				input(name='deal[end_date]', type='date')
				br
				label Inicio fecha de canje
				input(name='deal[start_redeem]', type='date') 
				br
				label Fin fecha de canje
				input(name='deal[end_redeem]', type='date') 
				br
				label Maximo de cupones
				input(name='deal[max_coupons]', type='text')
				label Maximo de cupones por usuario
				input(name='deal[max_coupons_by_user]', type='text') 
				label Porcentaje para el vendedor
				input(name='deal[seller_percentage]', type='text')
				br 
				label Porcentaje giombu
				input(name='deal[giombu_percentage]', type='text') 
				br
				label  Porcentaje para promotor
				input(name='deal[promoter_percentage]', type='text') 
				br
				label Estado
				input(name='deal[status]', type='text')
				br 
				label Costo de envío
				input(name='deal[shipping_cost]', type='text') 
				br
				input(name='submit', type='submit') Enviar
				br
				