// my-template.jade
extends ../layout

block content
	h2 #{title}
	h3 Ofertas
	.left_menu
		p
			b Menu
		p 
			a(href='#') opcion1
		p 
			a(href='#') opcion2
		p 
			a(href='#') opcion3
		p 
			a(href='#') opcion4
		p 
			a(href='#') opcion5
		p 
			a(href='#') opcion6
		p 
			a(href='#') opcion7
	.main_deal
			img( src="/img/logo_giombu.png")
			p title : Main
			p tagline : Deal
			p slug : Yeah!
	block deals_container