h2 #{title}
.container
	.form_container
		form(method='post', action='/branches/add')
			label name
			br
			input(name='name', type='text') 
			br
			label email
			br
			input(name='address', type='text') 
			br
			label zip
			br
			input(name='zip', type='text')
			label phone
			br
			input(name='phone', type='text') 
			label email
			br
			input(name='email', type='text') 
			label website
			br
			input(name='website', type='text') 
			label fanpage
			br
			input(name='fanpage', type='text') 
			label twitter
			br
			input(name='twitter', type='text') 
			label contact
			br
			input(name='contact', type='text') 
			br
			input(type='submit', value='Save')