// template.jade
extends ../layout

//Bloque de contenido.
block content
	.container
		.form_container
			form(method='post', action='/branches/add')
				label name
				br
				input(name='name', type='text',class="required") 
				br
				label Dirección
				br
				input(name='address', type='text' ,class="required") 
				br
				label Codigo Postal
				br
				input(name='zip', type='text' ,class="required")
				label Teléfono
				br
				input(name='phone', type='text' ,class="required") 
				label Email
				br
				input(name='email', type='text' ,class="required") 
				label Sitio Web
				br
				input(name='website', type='text' ,class="required url") 
				label Fan Page (Facebook)
				br
				input(name='fanpage', type='text' ,class="required") 
				label Titter
				br
				input(name='twitter', type='text' ,class="required") 
				label Contact
				br
				input(name='contact', type='text' ,class="required") 
				br
				input(type='submit', value='Save')