// my-template.jade
extends ../layout

//Bloque de contenido.
block content
	.container
		-if(typeof messagge !== "undefined")
			.alert.alert #{messagge}
		.form_container
			form(method='post', action='/invitations/add')
				label Nombre
				input(name='invitation[name]', type='text') 
				label Email
				input(name='invitation[email]', type='text') 
				label Asunto
				input(name='invitation[subject]', type='text') 
				label Cuerpo
				input(name='invitation[body]', type='text') 
				br
				input(type='submit', value='Enviar')