// my-template.jade
extends ../layout

//Bloques de contenido.

block profile
	.thumbnail
		img(src="/images/mr_bean.jpg")
	.data
		p #{user.username}

block menu
	ul(class="nav nav-list")
		li.nav-header Ofertas
		li 
			a Ver Activas
		li	
			a Ver Próximas
		li.nav-header Menu
		li 
			a(href='h1') Noticias
		li	
			a(href='h1') Mensajes
		li	
			a OPCION 2
		li.nav-header Promotores
		li 
			a(href='h1') Listado
		li	
			a(href='h1') Invitaciones
		li	
			a(href='h1') Mis Bonos
		li.nav-header Socios
		li 
			a(href='h1') Mi Tienda
		li	
			a(href='h1') Mis Comisiones
		li.nav-header Vendedores
		li 
			a(href='h1') Ventas
		li	
			a(href='h1') Comisiones
		li.nav-header Contactos
		li 
			a(href='h1') Listado
		li	
			a(href='h1') Invitaciones
		li.nav-header Administración
		li 
			a(href='h1') Estadísticas
		li	
			a(href='h1') Ventas
		li 
			a(href='h1') Pagos
		li	
			a(href='h1') Ofertas
		li 
			a(href='h1') Productos
		li	
			a(href='h1') Paises
		li 
			a(href='h1') Franquiciantes
		li	
			a(href='h1') Franquicias
		li 
			a(href='h1') Comercios
		li	
			a(href='h1') Vendedores
		li	
			a(href='h1') Monedas
		li.nav-header Email Marketing
		li 
			a(href='h1') Suscriptores
		li	
			a(href='h1') Newsletters
		li 
			a(href='h1') Lista de Mails
		
	


		

block level
	#level
		.alert
			.alert-heading
				h4 Tu nivel
				p Te faltan 99 contactos para logar el bono del 20%</p>
				.progress.progress-success.progress-striped.active
					.bar(style="width:60%")
				p Tienes el nivel granito, Invita a  más para obtener le nivel.
		
block feed
	.feed.well.well-small
		.thumbnail
			img(src="/images/mr_bean.jpg")
		.feed-text
			p El usuario carlitos ha aceptado tu invitacion a ser promotor.

block navbar
	.navbar		
		.navbar-inner
			a(class="brand", href="#") Title
			.nav
				.dropdown
					a(id="dropProfile pull-right" , href="#", class="btn dropdown-toggle" , data-toggle="dropdown") Perfil
						span.caret
					ul(class="dropdown-menu", aria-labelledby="dropProfile")
						li 
							a(a tabindex="-1", href="#") Mi perfil
						li	
							a(a tabindex="-1", href="#") Mi Cuenta
						li 
							a(a tabindex="-1", href="#") Mi Foto
						li 
							a(a tabindex="-1", href="#") Mi Perfil de Promotor
						li 
							a(a tabindex="-1", href="#") Mi Datos Bancarios
						li 
							a(a tabindex="-1", href="#") Salir

block logo
	p Html del logo y boton de novedades.

	
	