// my-template.jade
extends ../layout

//Bloques de contenido.

block profile
	.thumbnail
		img(src="/images/mr_bean.jpg")
	.data
		p #{user.username}


block level
	#level
		.alert
			.alert-heading
				h4 Tu nivel
				p Te faltan 99 contactos para logar el bono del 20%
				.progress.progress-success.progress-striped.active
					.bar(style="width:60%")
				p Tienes el nivel granito, Invita a más para obtener mas nivel.
		
block feed
	.feed.well.well-small
		.thumbnail
			img(src="/images/mr_bean.jpg")
		.feed-text
			p El usuario carlitos ha aceptado tu invitacion a ser promotor.

block content
	ul.nav.nav-tabs.nav-stacked
		



block logo
	p Html del logo y boton de novedades.

	
	