// my-template.jade
extends ../layout

//Bloques de contenido.

block profile
	table
		tr
			td	Nombre
			td	#{user.name} #{user.lname}
		tr
			td	Usuario
			td	#{user.username}
		tr
			td	Email
			td	#{user.email}

block menu
	ul
		li	OPCION 1
		li	OPCION 1.5
		li	OPCION 2
		li	OPCION 3
		li	OPCION 4
		li	OPCION 5
		li	OPCION 6

block level
	#level
		.alert
			.alert-heading
				h4 Tu nivel
				p Te faltan 99 contactos para logar el bono del 20%</p>
				.progress.progress-warning
					.bar
						p Tienes el nivel granito, Invita a  más para obtener le nivel.
		
block feed
	.feed		
		p El usuario carlitos ha aceptado tu invitacion a ser promotor.
