div( class='contenedor')
	div( class='container_form')
		form(method='post', action='/users/login_user/')
			label Usuario
				input(name='username', type='text') 
				br
			label Contraseña
				input(name='password', type='password') 
			input(name='submit', type='submit') 
				br