// my-template.jade
extends ../layout

//Bloque de contenido.
block content
	div( class='contenedor')
		div( class='container_form')
			form(method='post',id="users_register", action='/users/save/')
				label Nombre de Usuario
					input(name='username', type='text' ,class="required") 
					br
				label Nombres
					input(name='name', type='text' ,class="required") 
					br
				label Apellido(s)
					input(name='lname', type='text' ,class="required") 
					br
				label Email
					input(name='email', type='text' ,class="required email") 
					br
				label Contraseña
					input(name='password', type='password') 
					br
				label Confirmar contraseña
					input(name='confirm_password', type='password') 
					br
				label Fecha de nacimiento
					input(name='birthday', type='date') 
					br
				label Genero
					input(name='gender', type='select') 
						option(value='m') Masculino
						option(value='f') Femenino
					br
				label Phone
					input(name='phone', type='text')
					br 
				label Cell Phone
					input(name='mobile', type='text') 
					br
				label Direccion 
					input(name='address', type='text') 
					br
				label Pais
					select(name='country', type='text' ,class="required")
					br
				label Provincia
					select(name='state', type='text' ,class="required")
					br
				label Ciudad
					select(name='city', type='text' ,class="required")
					br
				label Zip
					input(name='zip', type='text') 
					br
				input(name='submit', type='submit') 
					br
					